body {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    flex-direction: column;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: -25px;
}

.logo {
    font-size: 15px;
    font-weight: 1000;
}

ul {
   list-style: none;
   display: flex;
   margin: 10px;
   font-size: 12px;
   gap: 16px;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}

.header-text {
    display: flex;
    justify-content: space-between;
    margin: 100px;
    flex: 1;
}

.h-text-claim {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.claim {
    max-width: 250px;
    margin-bottom: 0px;
    font-weight: 1000;
}

.claim-subtext {
    max-width: 325px;
    margin: 0px;
    color: #E5E7EB;
}

.button-1 {
    max-width: 100px;
    color: #F9FAF8;
    background-color: #3882F6;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-weight: 1000;
}

.pic {
    display: flex;
    background-color: #F9FAF870;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.info-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
}

.one-header {
    color: #1F2937;
    font-size: 30px;
    margin: 40px;
}

.boxes {
    display: flex;
    margin-bottom: 75px;
    margin-right: 100px;
    margin-left: 100px;
    gap: 40px;
}

.box {
    display: flex;
    border: 3px solid #3882F6;
    background-color: transparent;
    border-radius: 16px;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.box-text {
    max-width: 150px;
}

.info-two {
    background-color: #E5E7EB;
}

.quote-box {
    display: flex;
    flex-direction: column;
    margin: 100px;
}

.quote {
    font-size: 20px;
    font-style: italic;
}

.credit {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 900;
}

.three-box {
    background-color: #3882F6;
    color: #F9FAF8;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 75px;
    margin-bottom: 75px;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
}

.look-box {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.look {
    margin: 0;
    font-size: 20px;
    font-weight: 800;
}

.sign {
    margin: 0;
    font-size: 15px;
}

.button-2 {
    border: 2px solid #F9FAF8;
    background-color: #3882F6;
    color: #F9FAF8;
    max-height: 30px;
    padding: 3px 20px;
    border-radius: 6px;
    font-weight: 700;
    align-self: center;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    margin-top: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}